.slds-badge {
    background-color: #4bc076;
    color: white;
    font-weight: bold;
    padding: 0.25rem 0.5rem;
}

.slds-modal__container {
    max-width: 500px;
}

.slds-textarea {
    min-height: 120px;
}

.selected-row {
    background-color: #f0f8ff;
}